.home {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.home-request-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-right: 1px solid #e0e0e0;
}

.home-response-panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

